[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nifty-gridder = {editable = true, path = "./../nifty_gridder"}
python-casacore = "*"
numpy = "*"
ipykernel = "*"
pytest = "*"
matplotlib = "*"
scipy = "*"
install = "*"
xarray = {extras = ["complete"], version = "*"}
dask-ms = {extras = ["xarray"], version = "*"}
ipympl = "*"
codex-africanus = {extras = ["complete-cuda"], version = "*"}
jupyter-bokeh = "*"
h5parm = "*"
tables = "*"
scikit-image = "*"

[dev-packages]
scikit-learn = "*"

[requires]
python_version = "3.8"
