[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-casacore = "*"
numpy = "*"
ipykernel = "*"
pytest = "*"
matplotlib = "*"
scipy = "*"
install = "*"
xarray = {extras = ["complete"], version = "*"}
dask-ms = {extras = ["xarray"], version = "*"}
ipympl = "*"
codex-africanus = {extras = ["complete"], version = "*"}
jupyter-bokeh = "<3"
h5parm = {editable = true, path = "./../h5parm"}
tables = "*"
scikit-image = "*"
casatools = "*"
casatasks = "*"
casadata = "*"
frank = {editable = true, path = "."}
casaviewer = "*"
protobuf = "==3.20"
bokeh = "<3"
scikit-learn = "*"

[requires]
python_version = "3.8"
